<% count = MONGO_CLIENT["fs.files"].count() %>
<% if count == 0 %>
<p> No files found in database </p>
<% else %>

<table class="table">
  <tr>
    <th>Index</th>
	<th>Type</th>
    <th>Physician</th>
	<th>Patient Name</th>
	<th>Study Id</th>
	<th>Show Media</th>
	<th>Download Media</th>
	<% if current_user.admin == true %>
	<th>Delete</th>
	<%end%>
  </tr>
  
<%  MONGO_CLIENT["fs.files"].find("filename" => "A dicom file").each_with_index  {|doc, counter| %>
  <tr>
	<td> <%= counter %> </td>
	<td> <%= doc["Modality"].to_s %> </td>
	<td> <%= doc["Referring Physician's Name"].to_s %> </td>
	<td> <%= doc["Patient's Name"].to_s %> </td>
	<td> <%= doc["Study Date"].to_s %> </td>
	<td> <%= link_to 'Show', {:controller=> 'exams', :action=> 'show' , :id=> doc["_id"].to_s }%> </td>
	<td> <%= link_to 'Download', {:controller=> 'exams', :action => 'download', :id => doc["_id"].to_s} %> </td>
	<% if current_user.admin == true %>
	<td> <%= link_to 'Delete', {:controller=> 'exams', :action=> 'delete' , :id=> doc["_id"].to_s }%> </td>
  <%end%>
  </tr>
<%  } %>
</table>
<% end %>
