<h1>Listing Dicom Images</h1>

<table>
  <tr>
    <th>Index</th>
	<th>Type</th>
    <th>Physician</th>
	<th>Patient Name</th>
	<th>Study Id</th>
	<th>Show Image</th>
	<th>Download Image</th>
  </tr>
  
<%=  MONGO_CLIENT["fs.files"].find("filename" => "A dicom file").each_with_index  {|doc, counter| %>
  <tr>
	<td> <%= counter %> </td>
	<td> <%= doc["modality"].to_s %> </td>
	<td> <%= doc["physician"].to_s %> </td>
	<td> <%= doc["patient"].to_s %> </td>
	<td> <%= doc["studyId"].to_s %> </td>
	<td> <%= link_to 'Show', {:controller=> 'exams', :action=> 'show' , :id=> doc["_id"].to_s }%> </td>
	<td> <%= link_to 'Download as .bmp', {:controller=> 'exams', :action => 'download', :id => doc["_id"].to_s} %> </td>
  </tr>
<%  } %>
</table>