<% if signed_in? %>
<% if current_user.admin == true %>
<h1>All DICOM Images</h1>

<table class="table">
  <tr>
    <th>Index</th>
	<th>Type</th>
    <th>Physician</th>
	<th>Patient Name</th>
	<th>Study Id</th>
	<th>Show Media</th>
	<th>Download Media</th>
	<th>Delete</th>
  </tr>
 
<% @cursor.each_with_index  {|doc, counter| %>
  <tr>
	<td> <%= counter %> </td>
	<td> <%= doc["Modality"].to_s %> </td>
	<td> <%= doc["Referring Physician's Name"].to_s %> </td>
	<td> <%= doc["Patient's Name"].to_s %> </td>
	<td> <%= doc["Study Date"].to_s %> </td>
	<td> <%= link_to 'Show', {:controller=> 'exams', :action=> 'show' , :id=> doc["_id"].to_s }%> </td>
	<td> <%= link_to 'Download as .bmp', {:controller=> 'exams', :action => 'download', :id => doc["_id"].to_s} %> </td>
	<td> <%= link_to 'Delete', {:controller=> 'exams', :action=> 'delete' , :id=> doc["_id"].to_s }%> </td>
  </tr>
<%  } %>
</table>
<% end %>
	<p> Access Denied: You need to be an admin to access this page. <p>
<% else %>
	<%= render 'shared/not_logged_in' %>
<% end %>