<% if signed_in? %>
	<% 	if (@parameter =~  /\d+,\d+/)  %>  
		<% 		@parameter = DICOM::LIBRARY.as_name(@parameter) %>
	<% end %>	
	<% if current_user.admin == true %>
		<% 	if (@value == "" and @parameter == "")  %>
			<%  @cursor = MONGO_CLIENT["fs.files"].find({})  %>
		<% elsif (@value == "" and @parameter !="")  %>
			<%	@cursor = MONGO_CLIENT["fs.files"].find( {@parameter=> { "$exists" => true} } )   %>
		<% else %>
			<% 	@cursor = MONGO_CLIENT["fs.files"].find({@parameter=>  @value } ) %>
		<% 	end    %>

	<% else %>

		<% 	if (@value == "" and @parameter == "")  %>
			<%  @cursor = MONGO_CLIENT["fs.files"].find({"accessList"=> current_user.name })  %>
		<% elsif (@value == "" and @parameter !="")  %>
			<%	@cursor = MONGO_CLIENT["fs.files"].find( { "$and"=> [{"accessList"=> current_user.name },{@parameter=> { "$exists" => true} } ] })   %>
		<% else %>
			<% 	@cursor = MONGO_CLIENT["fs.files"].find({ "$and"=> [{"accessList"=> current_user.name },{@parameter=>  @value } ] }) %>
		<% 	end    %>
		
	<% 	end    %>
	<h1>Search DICOM Images</h1>	
	<% count = @cursor.count() %>
	<% if count == 0 %>
		<p> No files found </p>
	<% else %>
	<% if current_user.admin == true %>
		<table class="table">
			<tr>
				<th>Index</th>
				<th>Type</th>
				<th>Physician</th>
				<th>Patient Name</th>
				<th>Study Id</th>
				<th>Show Media</th>
				<th>Download Media</th>
				<th>Share Media</th>
				<th>Delete</th>
			</tr>
			<%  @cursor.each_with_index  {|doc, counter| %>
			<tr>
				<td> <%= counter %> </td>
				<td> <%= doc["Modality"].to_s %> </td>
				<td> <%= doc["Referring Physician's Name"].to_s %> </td>
				<td> <%= doc["Patient's Name"].to_s %> </td>
				<td> <%= doc["Study Date"].to_s %> </td>
				<td> <%= link_to 'Show', {:controller=> 'exams', :action=> 'show' , :id=> doc["_id"].to_s }%> </td>
				<td> <%= link_to 'Download', {:controller=> 'exams', :action => 'download', :id => doc["_id"].to_s} %> </td>
				<td> <%= link_to 'Share', {:controller=> 'exams', :action=> 'share' , :id=> doc["_id"].to_s }%> </td>
				<td> <%= link_to 'Delete', {:controller=> 'exams', :action=> 'delete' , :id=> doc["_id"].to_s }%> </td>
			</tr>
			<%  } %>
		</table>
	<% else %>
		<table class="table">
			<tr>
				<th>Index</th>
				<th>Type</th>
				<th>Physician</th>
				<th>Patient Name</th>
				<th>Study Id</th>
				<th>Show Media</th>
				<th>Download Media</th>
				<th>Share Media</th>
			</tr>
			<%  @cursor.each_with_index  {|doc, counter| %>
			<tr>
				<td> <%= counter %> </td>
				<td> <%= doc["Modality"].to_s %> </td>
				<td> <%= doc["Referring Physician's Name"].to_s %> </td>
				<td> <%= doc["Patient's Name"].to_s %> </td>
				<td> <%= doc["Study Date"].to_s %> </td>
				<td> <%= link_to 'Show', {:controller=> 'exams', :action=> 'show' , :id=> doc["_id"].to_s }%> </td>
				<td> <%= link_to 'Download', {:controller=> 'exams', :action => 'download', :id => doc["_id"].to_s} %> </td>
				<td> <%= link_to 'Share', {:controller=> 'exams', :action=> 'share' , :id=> doc["_id"].to_s }%> </td>
			</tr>
			<%  } %>
		</table>
	<%end%>
	<%end%>
		<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:tag, "Tag:") %>
	<%= text_field_tag(:tag) %>
	<%= label_tag(:val, "Value:") %>
	<%= text_field_tag(:val) %>
	<%= submit_tag("Search") %>
	<% end %>

<% else %>
	<%= render 'static_pages/noLogin' %>
<% end %>